<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Is User Authenticated</title>
</head>
<body>
  <h1>Foydalanuvchi haqida ma'lumot</h1>
  <h2>Foydalanuvchi ro'yxatdan o'tganmi: {{user.is_authenticated}}</h2>
  {% if user.is_authenticated %}
    <h2>Foydalanuvchi logini: {{user.username}}</h2>
    <h2>Foydalanuvchi ismi: {{user.first_name}}</h2>
    <h2>Foydalanuvchi familiyasi: {{user.last_name}}</h2>
    <h2>Foydalanuvchi aktivmi: {{user.is_active}}</h2>
    <h2>Foydalanuvchi staffmi: {{user.is_staff}}</h2>
    <h2>Foydalanuvchi superusermi: {{user.is_superuser}}</h2>
  {% endif %}
  <a href="{% url 'users:logout' %}" style="padding: 5px 7px; background: blue; color: white;">
    chiqish
  </a> 
  <br><br>
  <a href="{% url 'link:link_list' %}" style="padding: 5px 7px; background: blue; color: white;">
    Home page
  </a>
  
</body>
</html>