{% load static %}

<nav id="header" class="navbar navbar-expand navbar-light bg-white">
  <div class="container d-flex">
    <div class="d-flex justify-content-between w-100">
      <div class="order-1 col-md-2 col-sm-3 col-6">
        <a href="" class="text-decoration-none link-dark align-items-center d-flex navbar-brand w-100">          
          <img src="{% static 'img/havola_logo.svg' %}" class="me-2" alt="" width="26px">
          <span class="w-100"> HAVOLA </span>
        </a>
      </div>
      <div class="order-2 col-md-8 col-sm-6 col-12 d-flex align-items-center">
        <form action="" class="inline-group global-search-div">
          <i class="fa fa-search"></i> 
          <input type="search" name="" id="" placeholder="Izlash">
        </form>
      </div>
      <div class="order-3 col-md-2 col-sm-3 col-6 d-flex align-items-center">user</div>
    </div>
  </div>

</nav>

<!-- -->